// bower:scss
// endbower

$black:                 #404040;
$grayDarkest:           $black;//lighten($black, 10%);
$grayDarker:            lighten($grayDarkest, 10%);
$grayDark:              lighten($grayDarker, 10%);
$gray:                  lighten($grayDark, 10%);
$grayLight:             lighten($gray, 10%);
$grayLighter:           lighten($grayLight, 10%);
$grayLightest:          lighten($grayLighter, 10%);
$white:                 #F7F7CC;

$blueDark:              #004963;
$blue:                  #00747A;
$blueLight:             lighten($blue, 10%);
$yellow:                #FF9D00;
$yellowDark:            darken($yellow, 10%);
$yellowLight:           lighten($yellow, 10%);

$green:                 #3EBBA7;
$greenLight:            #E3E5A5;
$red:                   #A31500;
$orange:                #FF9D00;
$pink:                  #F1B6BB;
$purple:                #953064;
$greenPaper:            #37AD80;

$pagecolor:             #DFDFDF;

$multicolor:            #f0f;

$nocolor: $red; // #f00;
$yescolor: $green; // #016D17;
$fixcolor: $yellow; // #ff0;

@mixin fancy-shadow ($color: $pagecolor) {
  @include vendor-prefix('text-shadow', -1px -1px 0 $color, 1px -1px 0 $color, 1px 1px 0 $color, -1px 1px 0 $color, -2px 2px 0 $color);
}

@mixin vendor-prefix($name, $argument...) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body {
  background: #fafafa;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#help {
  width: 300px;
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  top: 40%;
  @include fancy-shadow;
}

#legend {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 200px;
  font-size: 20px;
  // background: #d6d2cb;
  border-radius: 3px;
  padding: 0 10px 10px;
  // @include fancy-shadow;

  h3 {
    margin: 10px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    // @include clearfix;
  }

  li {
    margin: 0;
  }

  a {
    cursor: pointer;
  }

}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;

  &.yes {
    background: $yescolor;
  }

  &.no {
    background: $nocolor;
  }

  &.fix {
    background: $fixcolor;
  }

  &.nil {
    background: $grayLight;
  }

  &.stroked {
    border: 1px solid $grayLight;
    background: $white;
  }

  &.pink {
    background: $pink;
  }

  &.blue {
    background: $blue;
  }

  &.yellow {
    background: $yellow;
  }

  &.green {
    background: $green;
  }

  &.gray {
    background: $gray;
  }

  &.multi {
    background: $multicolor;
  }
}

#play_pause {
  margin: 7px 0 0 6px;
}